In [1]:
import  sqlalchemy as sa
import pandas as pd

server = 'AmmarSahyoun\\SQLEXPRESS'
database = 'SalesMart'
conn_str = f"mssql+pyodbc://{server}/{database}?driver=SQL+Server"
engine = sa.create_engine(conn_str)
df = pd.read_sql("SELECT * FROM product_dim", engine)
df

,ProductId,ProductName,IntroductionDate,ActualAbandonmentDate,ProductGrossWeight,ItemSku,ListPrice
0,680,HL Road Frame - Black 58,2002-06-01,None,1016.0,FR-R92B-58,1432.0
1,706,HL Road Frame - Red 58,2002-06-01,None,1016.0,FR-R92R-58,1432.0
2,707,Sport-100 Helmet Red,2005-07-01,None,NaN,HL-U509-R,35.0
3,708,Sport-100 Helmet Black,2005-07-01,None,NaN,HL-U509,35.0
4,709,Mountain Bike Socks M,2005-07-01,None,NaN,SO-B909-M,10.0
...,...,...,...,...,...,...,...
290,995,ML Bottom Bracket,2007-07-01,None,168.0,BB-8107,101.0
291,996,HL Bottom Bracket,2007-07-01,None,170.0,BB-9108,121.0
292,997,Road-750 Black 44,2007-07-01,None,8967.0,BK-R19B-44,540.0
293,998,Road-750 Black 48,2007-07-01,None,9131.0,BK-R19B-48,540.0
294,999,Road-750 Black 52,2007-07-01,None,9262.0,BK-R19B-52,540.0

In [48]:
# Duplication check 
{x: df[x].duplicated().sum() for x in df.columns}

{'ProductId': 0,
 'ProductName': 0,
 'IntroductionDate': 291,
 'ActualAbandonmentDate': 294,
 'ProductGrossWeight': 172,
 'ItemSku': 0,
 'ListPrice': 205}

In [6]:
# The 7th highest price product
df.nlargest(7, 'ListPrice')

,ProductId,ProductName,IntroductionDate,ActualAbandonmentDate,ProductGrossWeight,ItemSku,ListPrice
44,749,Road-150 Red 62,2005-07-01,None,6804.0,BK-R93R-62,3578.0
45,750,Road-150 Red 44,2005-07-01,None,6246.0,BK-R93R-44,3578.0
46,751,Road-150 Red 48,2005-07-01,None,6409.0,BK-R93R-48,3578.0
47,752,Road-150 Red 52,2005-07-01,None,6541.0,BK-R93R-52,3578.0
48,753,Road-150 Red 56,2005-07-01,None,6659.0,BK-R93R-56,3578.0
66,771,Mountain-100 Silver 38,2005-07-01,None,9231.0,BK-M82S-38,3400.0
67,772,Mountain-100 Silver 42,2005-07-01,None,9421.0,BK-M82S-42,3400.0

In [26]:
# filter on multiple variables
items = ['BB-7421', 'BB-8107']
df.query('ItemSku==@items')

,ProductId,ProductName,IntroductionDate,ActualAbandonmentDate,ProductGrossWeight,ItemSku,ListPrice
289,994,LL Bottom Bracket,2007-07-01,None,223.0,BB-7421,54.0
290,995,ML Bottom Bracket,2007-07-01,None,168.0,BB-8107,101.0

In [64]:
# group just the numeric columns for 2 features 
dfm = df[['ProductId', 'ProductName', 'ItemSku', 'ProductGrossWeight', 'ListPrice']]
dfm.groupby(['ProductId', 'ProductName', 'ItemSku']).agg(['sum', 'mean'])

                                              ProductGrossWeight          \
                                                             sum    mean
ProductId ProductName              ItemSku
680       HL Road Frame - Black 58 FR-R92B-58             1016.0  1016.0
706       HL Road Frame - Red 58   FR-R92R-58             1016.0  1016.0
707       Sport-100 Helmet Red     HL-U509-R                 0.0     NaN
708       Sport-100 Helmet Black   HL-U509                   0.0     NaN
709       Mountain Bike Socks M    SO-B909-M                 0.0     NaN
...                                                          ...     ...
995       ML Bottom Bracket        BB-8107                 168.0   168.0
996       HL Bottom Bracket        BB-9108                 170.0   170.0
997       Road-750 Black 44        BK-R19B-44             8967.0  8967.0
998       Road-750 Black 48        BK-R19B-48             9131.0  9131.0
999       Road-750 Black 52        BK-R19B-52             9262.0  9262.0

                                              ListPrice
                                                    sum    mean
ProductId ProductName              ItemSku
680       HL Road Frame - Black 58 FR-R92B-58    1432.0  1432.0
706       HL Road Frame - Red 58   FR-R92R-58    1432.0  1432.0
707       Sport-100 Helmet Red     HL-U509-R       35.0    35.0
708       Sport-100 Helmet Black   HL-U509         35.0    35.0
709       Mountain Bike Socks M    SO-B909-M       10.0    10.0
...                                                 ...     ...
995       ML Bottom Bracket        BB-8107        101.0   101.0
996       HL Bottom Bracket        BB-9108        121.0   121.0
997       Road-750 Black 44        BK-R19B-44     540.0   540.0
998       Road-750 Black 48        BK-R19B-48     540.0   540.0
999       Road-750 Black 52        BK-R19B-52     540.0   540.0

[295 rows x 4 columns]